.intro{
    display: flex;
    height: 60vh;
    margin-top: 6rem;
    

}

.i-left{
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 1;
    align-items: flex-end;
    top: 10%;
    left: -5%;
}

.i-right{
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    
}

.i-right :nth-child(1) {
    position:relative;
    z-index: 1;
    transform: scale(1.2);
    top: -5%;
   
}

.i-name{
    display: flex;  
    flex-direction: column;

}

.i-name :nth-child(1){
    font-weight: 900;
    font-size: 3rem;
    color: #ffb90f;

    
}

.i-name :nth-child(2){
    font-weight: 900;
    font-size: 3rem;
    color: #008284;

}

.i-name :nth-child(3) {
    
    font-size: 25px;
    color: var(--black);
    margin-top: 10px;
}

.i-name :nth-child(4) {
    
    font-size: 25px;
    color: var(--black);
    
}


.i-icons {
    margin-top: 3rem;
    display: flex;
    
    gap: 0rem;
}


.i-icons *{
    transform: scale(0.5);
}

.i-icons *:hover {
    cursor: pointer;
    
}


.i-button{
    margin: 10px;
    width: 20%;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px;
  background: linear-gradient(180deg, #008284 26.71%, #004241 99.3%);

}

.i-button:hover{
    background: white;
    cursor: pointer;
    color: #008284;
    border: 1px solid #008284;
  }
    